<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/css/mainstyle.css" />
   <title>View Missing Pets Report</title>
   <script src="/js/javafile.js"></script>
   <script>
       $(document).ready(function(){
            $('.delete-report').on('click', '#deleteReport', function(event) {
                event.preventDefault();
                const id = $(this).attr('data-id');
                $.ajax({
                    url: 'http://localhost:5000/api/report/' + id,
                    method: 'DELETE',
                    contentType: "application/json; charset=utf-8",
                    success: function(res) {
                        console.log(res.status);
                        if(res.status == 'Success')
                        {
                            //window.location.reload();
                            //window.location = '/reports';
                            alert('Report Successfully Deleted');
                            window.location = '/reports';
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
       });
   </script>
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">Mising Pet APP</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/reports">Report Pets</a></li>
         <li class="services">
           <a href="/activities">Activity</a>
         </li>
       </div>
     </ul>
   </nav>
   <div class="container">
    <h2>View and Add Missing Pet </h2>
    <table id="reports">
        <tr>
            <th>S/N</th>
            <th>Pet Animal</th>
            <th>Pet Location</th>
            <th>Action</th>
        </tr>
        <%
              if(reports.length!=0){
              var i=1;
              reports.forEach(function(data){
              %>
              <tr>
                  <td><%=i; %></td>
                  <td><%=data.petanimal %></td>
                  <td><%=data.petloc %></td>
                  <td><a href="/viewpet/<%=data.petanimal%>">View</a> |       
                      <div class="delete-report"><a href="#" id="deleteReport" data-id="<%=data.petid%>"> Delete </a></div>
                      <!-- <a href="/reports/<%=data.petid%>">Delete</a> -->
                  </td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
                  <tr>
                      <td colspan="7">No Data Found</td>
                  </tr>
              <% } %>
      </table>
   </div>
   <div class="container">
    <h3><a class="btn btn-primary stretched-link" href="/reportpet"> Add New Missing Pets</a></h3>  
   </div>
 </body>
</html>