<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div class="container">
        <h2>View and Add Missing Pet</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S/n</th>
                <th scope="col">Pet Animal</th>
                <th scope="col">Pet Location</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%
              if(reports.length!=0){
              var i=1;
              reports.forEach(function(data){
              %>
              <tr>
                  <td><%=i; %></td>
                  <td><%=data.petanimal %></td>
                  <td><%=data.petloc %></td>
                  <td><a href="/viewpet/<%=data.petanimal%>">View</a> | 
                      <a href="/reports/<%=data.petid%>">Delete</a>
                  </td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
                  <tr>
                      <td colspan="7">No Data Found</td>
                  </tr>
              <% } %>
            
            </tbody>
          </table>
        <h3><a class="btn btn-primary stretched-link" href="/petmissing"> Add New Missing Pets</a></h3>
    </div>
</body>
<%- include('../partials/footer') %>